.footer {
    height: 280px;
    background-color: #232323;
    color: white;
}

.footer-title {
    margin-bottom: 10px;
    margin-left:10px
}

.footer a {
    padding-top: 5px;
    color: white;
    font-size: 14px;
}

.footer-input {
    margin: 14px 0;
    background-color: #232323;
    border:none ;
    border-bottom: 1px solid white;
    margin-left: 10px;
}

::placeholder {
    color: white;
    font-size: 12px;
}