* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


a {
  text-decoration: none;
  margin-left:10px;
  color:black;
}

h2 {
  margin: 20px 0;
  text-align: center;
}

.form-control {
  width: 45%;
}








